/* Global */
* {
min-width: fit-content;
min-height: fit-content;
}
body{
  background-image:url(./img4.gif);
  background-size:cover
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 3.0em;
}

  .jumbotron  {
    padding: 20px;
  }
  
  section button{
    height: 50px;
    min-width: 200px;
    
  }
  li{
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-style: italic;
  }
  
  ul p{
      font-size: 20px;
      font-weight: bolder;
  }
  h6,h5{
      font-weight: bold;
  }  
  div #forescast{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div .card-body{
      background-color:aqua;
      color: black;
  }
  
  .col-sm .card{
    border-radius: 10px;
     border: solid 2px black;
     width: 180px;
     padding: 10px;
     margin: 2px;
  }
  
  .col-sm .card div{
    text-align: center;
    font-weight: bolder;
    font-size: 1.0em;
  }
  .col-sm .card p{
    text-align: center;
    font-size: 0.8em;
    color: black;
    font-weight: bold;
    
  }
  h5{
    border-radius: 10px;
    border: 2px black solid;
    background-color:blue;
    text-align: center;
    color: black;
    margin: 10px;
  }
  .five-cards{
    background-color: aqua;
  }
   #clearhist{
     background-color: black;
   }
   .btn{
     color: white;
     background-color:blue;
     font-size: 15px;
   }
   .btn:hover{
     color: black;
   }